body{
    background-color: whitesmoke;
}
*{
    margin: o;
    padding: 0;
    box-sizing: border-box;
}
header{
    padding: 40px;
    text-align: center;
}


section{
    display: flex;
    width: 100vw;
    justify-content: space-around
}

.results{
        display: flex;
        flex-direction: column;
        align-items: center
}

i{
    padding-left: 20px;
    padding-right: 20px;
}

